# **Python Fundamentals**

**Objective**

- The goal of this notebook is to get familiar with the basic concepts of Python that will be used extensively in the (coding) assignments in this course.

**Outline**
1. Data Types
1. Conditional statements and loops
1. Saving and Loading Files

## **1 Data Types**

Built-in data types in Python include:
1. Numeric types - int, float, complex
1. Sequence types - list, tuple, range
1. Set Type - set
1. Mapping type - dict
1. Text sequence type - str

.... and many others

Reference: [Python Official Documentation](https://docs.python.org/3/library/stdtypes.html)

### **1.1 Numeric types**

#### **int**
Int corresponds to integers and it is generally not used while training models since weights and biases have to be precise and not approximations

In [1]:
# assigning an int value to a variable

intVar = 1

# converting float to int

floatVar = 2.5
convVar = int(floatVar)

print("Integer equivalent of float number: "+str(convVar))
print("Note: int function floors the decimal/ float value")
print("You can do various mathematical operations with int variables such as addition(+), subtraction (-), division (/), multiplication (*), floored quotient (//), remainder (%), etc.")
print("You can try these yourselves as an exercise")

# try myself

print("\n Try myself")

a = 2.3
b = 1.1
convA = int(a)
convB = int(b)
print("Division: "+str(a/b))
print("Int division: "+str(convA/convB))

Integer equivalent of float number: 2
Note: int function floors the decimal/ float value
You can do various mathematical operations with int variables such as addition(+), subtraction (-), division (/), multiplication (*), floored quotient (//), remainder (%), etc.
You can try these yourselves as an exercise

 Try myself
Division: 2.0909090909090904
Int division: 2.0

#### **float**

Float corresponds to floating point numbers which can be of different precisions ex. float16, float32 etc.

In [2]:
# basics

floatNum = 7.5

# remember: any artihmetic operation between int and float makes the result a float

result = 15/floatNum
print("The result of dividing 15 by 7.5 is: "+str(result))

# converting from float64 to float32
# Note: this can be useful when higher precision is not required and reducing precision decreases training time
# More important note: Reducing precision also reduces accuracy (:

# don't worry if you aren't familiar with the below code, Numpy will be covered in another recitation
import numpy as np
import math

f64 = np.zeros(10,dtype="float64") 
print(f64.dtype) # use dtype to find the type of an array/ column in df
print(type(f64[0]))
f32 = np.float32(f64)
print(f32.dtype)
print(type(f32[0]))

# some additional operations with float type

print('-'*194)
# rounding numbers
fNum = 7.336
rfNum = round(fNum)
rf_2 = round(fNum,2)
print("Original number is: "+str(fNum))
print("Rounded float number is: "+str(rfNum))
print("Number rounded upto 2 decimals is: "+str(rf_2))

# floor and ceiling
floorNum = math.floor(fNum)
ceilNum = math.ceil(fNum)
print("Result after floor operation: "+str(floorNum))
print("Result after ceiling operation: "+str(ceilNum))

# try myself

print("\n Try myself")

num = 23.11
print("Original number is: "+str(num))
print("Rounded float number is: "+str(round(num)))
print("Number rounded upto 1 decimal is: "+str(round(num,1)))
print("Floor operation: "+str(math.floor(num)))
print("Ceiling operation: "+str(math.ceil(num)))

The result of dividing 15 by 7.5 is: 2.0
float64
<class 'numpy.float64'>
float32
<class 'numpy.float32'>
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
Original number is: 7.336
Rounded float number is: 7
Number rounded upto 2 decimals is: 7.34
Result after floor operation: 7
Result after ceiling operation: 8

 Try myself
Original number is: 23.11
Rounded float number is: 23
Number rounded upto 1 decimal is: 23.1
Floor operation: 23
Ceiling operation: 24

### **1.2 Sequence types**

#### **Lists**

Lists are mutable sequences that are mostly used to store items of the same type but they can also store heterogenous items.

List items can store duplicate values and the items can be indexed (zero-indexed)

In [3]:
# Construction using square brackets
similar_items = [1, 2, 3, 4, 5, 5]
different_items = [1, 2, 3, 'a', 'a', 'b']

# print list items
print(similar_items)
print(different_items)

# get item at index 4
print(similar_items[4])
print(different_items[4])

[1, 2, 3, 4, 5, 5]
[1, 2, 3, 'a', 'a', 'b']
5
a

In [4]:
# Construction using list comprehension
first_five = [i for i in range(5)]
print(first_five)

last_five = [i for i in range(5, 10)]
print(last_five)

# append lists
all_data = first_five + last_five
print(all_data)

# try myself

print("\n Try myself")

ran1 = [i for i in range(7)]
print(ran1)

ran2 = [i for i in range(11,24)]
print(ran2)

both = ran1 + ran2
print(both)

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 Try myself
[0, 1, 2, 3, 4, 5, 6]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
[0, 1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

#### **Tuples**

Tuple are ordered and unchangeable/immutable (**new items can't be added to it**). 

Tuples can store duplicate items.

In [5]:
similar_items = (1, 2, 3)
different_items = (1, 2, 3, "four")

print(similar_items)
print(different_items)

# indexing is similar to lists

print(similar_items[0])
print(different_items[-2]) # negative indexing starts from the end of the list/ tuple

(1, 2, 3)
(1, 2, 3, 'four')
1
3

#### **Range**

Range is a very important function for iteration and it is immutable

In [6]:
# simple range iterator

print("Range with stop number and default step")
print(list(range(10)))
print("Note: The iterator does not stop at the number specified")

print("Range with start, stop and step 2")
print(list(range(0,12,2)))

print("Reverse direction with negative step size")
print(list(range(10,0,-2)))

# try myself

print("\n Try myself")
print("Range with start, stop and negative step -5")
print(list(range(23,11,-5)))

Range with stop number and default step
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Note: The iterator does not stop at the number specified
Range with start, stop and step 2
[0, 2, 4, 6, 8, 10]
Reverse direction with negative step size
[10, 8, 6, 4, 2]

 Try myself
Range with start, stop and negative step -5
[23, 18, 13]

### **1.3 Set types**

Sets are mutable and they store unordered and unindexed data.

They can not store duplicate items.

In [7]:
set1 = {1, 2, 3, 1, 2}
print(set1)

set2 = {'one', 'two', 'three', 'one', 'two'}
print(set2)

{1, 2, 3}
{'three', 'two', 'one'}

### **1.4 Mapping type**

#### **Dictionary**

Stores items in key-value pairs. Keys must be unique, hence duplicates can't be stored.

From Python 3.7 dictionary items are ordered.

**Different ways of constructing dictionaries**

In [8]:
# comma-separated key-value pairs
dict1 = {'one': 1, 'two': 2, 'three': 3}
print(dict1)

dict2 = dict(one=1, two=2, three=3)
print(dict2)

# using zip function
dict3 = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
print(dict3)

# using tuples in a list
dict4 = dict([('one', 1), ('two', 2), ('three', 3)])
print(dict4)

# try myself

print("\n Try myself")
d1 = {'K': 23, 'B': 17, 'N': 12}
d2 = dict(K=23, B=17, N=12)
d3 = dict(zip(['K', 'B', 'N'], [23, 17, 12]))
d4 = dict([('K', 23), ('B', 17), ('N', 12)])

print(d1)
print(d2)
print(d3)
print(d4)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}

 Try myself
{'K': 23, 'B': 17, 'N': 12}
{'K': 23, 'B': 17, 'N': 12}
{'K': 23, 'B': 17, 'N': 12}
{'K': 23, 'B': 17, 'N': 12}

**Dictionary operations**

In [9]:
# get item
print('Different ways of getting items is indexing a dictionary')

print(dict1['one'])
print(dict1.get('one'))
print(dict1.get("four", "number 4 does not exist"))

# save new item
print('Store new item')

dict1['four'] = 4
print(dict1)
print(dict1.get("four", "number 4 does not exist"))

# try myself

print("\n Try myself")
print(d1['K'])
print(d1.get('K'))
print(d1.get('T', "T's birthday does not exist"))

d1['T'] = 9
print(d1)
print(d1.get('T', "T's birthday does not exist"))

Different ways of getting items is indexing a dictionary
1
1
number 4 does not exist
Store new item
{'one': 1, 'two': 2, 'three': 3, 'four': 4}
4

 Try myself
23
23
T's birthday does not exist
{'K': 23, 'B': 17, 'N': 12, 'T': 9}
9

## **2 Conditional statements and loops**

### **2. 1 Conditional statements**

They enable you to perform specific actions based on the boolean value returned by a condition

They can be implemented using if-statements

**If statements**

In [19]:
x, y = 1, 2

if x > y:
  print('x is greater than y')
elif x < y:
  print(' x is less than y')
else:
  print('x is equal than y')

# try myself

print("\n Try myself")
m, n = 23, 11

if m > n:
    print('m is greater than n')
elif m < n:
    print('m is less than n')
else:
    print('m is equal n')

 x is less than y

 Try myself
m is greater than n

### **2.2 Loops**

Loops are helpful when you need to iterate over a sequence. A sequence can be a list, a tuple, a dictionary, a set or even a range of numbers.

They can be implemented using for or while loops

In [24]:
# Iterate through a sequence

numbers = ['one', 'two', 'three', 'four', 'five']

for n in numbers:
  print(n)

# try myself

print("\n Try myself")
friends = ['K', 'B', 'N', 'T']
count = 0

for f in friends:
    count+= 1
    print(f, str(count))
    
for i in range(23,11,-5):
    print(i)

one
two
three
four
five

 Try myself
K 1
B 2
N 3
T 4
23
18
13

In [12]:
# Iterate through a range of numbers

print('Iterate through numbers 0-4')
for i in range(5):
  print(i)

print('Iterate through numbers 1-5')
for i in range(1, 6):
  print(i)

Iterate through numbers 0-4
0
1
2
3
4
Iterate through numbers 1-5
1
2
3
4
5

**While loop**

Used to iterate through statements as long as the condition being checked is true

In [13]:
x = 0

while x < 10:
  x = x + 2
  print(x)

print('Final value is ', x)

2
4
6
8
10
Final value is  10

## **3. Saving and Loading Files**

### **3.1 Save Data to CSV**

In [26]:
# Method 1

import csv

fields = ['No', 'Name']
  
students = [
{'No': 1, 'Name': 'Jane Doe'},
{'No': 2, 'Name': 'John Doe'},
]

with open('students.csv', 'w') as csv_file:
  writer = csv.DictWriter(csv_file, fieldnames = fields)
  writer.writeheader()
  writer.writerows(students)

# Method 2: Save dictionary as csv using pandas

import pandas as pd

studentDict = {'No': [1,2,3],
               'Name': ['Sheila Mbadi', 'Jane Doe', 'John Doe']}

studentDf = pd.DataFrame(studentDict)
studentDf.to_csv('students_2.csv', index=None) 

# try myself

print("\n Try myself")

friendDict = {'Friend': ['K', 'B', 'N'],
              'Birthday': [23, 17, 12]}
friendDf = pd.DataFrame(friendDict)
friendDf.to_csv('friends.csv', index=None)

 Try myself

### **3.2 Load CSV Data**

- Load the values of a csv file in Python

In [28]:
import pandas as pd

data = pd.read_csv('students.csv')
data

# try myself

print("\n Try myself")
fdata = pd.read_csv('friends.csv')
fdata

 Try myself

  Friend  Birthday
0      K        23
1      B        17
2      N        12

## **4. Comprehension**

Comprehension is set/list builder notation is can be useful in Python to write compact and clean code.

The general structure of comprehension is

![comprehension](https://4.bp.blogspot.com/-uRPZqKbIGwQ/XRtgWhC6qqI/AAAAAAAAH0w/--oGnwKsnpo00GwQgH2gV3RPwHwK8uONgCLcBGAs/s1600/comprehension.PNG)

In [31]:
#Set Comprehension
set_1 = {x for x in range(6)}
print("a set of number from 0 to 5:", set_1)
set_2 = {x**2 for x in range(6) if x % 2 == 0}
print("a set of squares of even number from 0 to 5:", set_2, "\n")

#List comprehension
list_1 = [x for x in range(6)]
print("a list of number from 0 to 5:", list_1)
list_2 = [x**2 for x in range(6) if x % 2 == 0]
print("a list of squares of even number from 0 to 5:", list_2, "\n")

#Comprehension based operation
set_1 = {(1, 2), (4, 5), (7, 8)}
set_2 = {(2, 3), (5, 6), (8, 9)}
joined_set = {(t1[0], t1[1], t2[1]) for t1 in set_1 for t2 in set_2 if (t1[1] == t2[0])}
print("joined set:", joined_set)

# try myself

print("\n Try myself")

list1 = [x for x in range(11,24)]
print("a list of number from 11 to 23:", list1)
list2 = [x-2 for x in range(11,24) if x%5 == 0]
print("new list:", list2, "\n")

set1 = {('K', 23), ('B', 17), ('N', 12)}
set2 = {('K', 11), ('B', 10), ('N', 10)}
joinedSet = {(t1[0], t1[1], t2[1]) for t1 in set1 for t2 in set2 if (t1[0] == t2[0])}
print("friend joined set:", joinedSet)

a set of number from 0 to 5: {0, 1, 2, 3, 4, 5}
a set of squares of even number from 0 to 5: {0, 16, 4}

a list of number from 0 to 5: [0, 1, 2, 3, 4, 5]
a list of squares of even number from 0 to 5: [0, 4, 16]

joined set: {(7, 8, 9), (1, 2, 3), (4, 5, 6)}

 Try myself
a list of number from 11 to 23: [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
new list: [13, 18]

friend joined set: {('N', 12, 10), ('B', 17, 10), ('K', 23, 11)}

**Credits**
This notebook has been built from the [Deep Learning](https://deeplearning.cs.cmu.edu/F22/index.html) course at CMU